/*@media (prefers-color-scheme: dark)*/
/*{*/
/*    :root*/
/*    {*/
/*        --color-background: var(--vt-c-black);*/
/*        --color-background-soft: var(--vt-c-black-soft);*/
/*        --color-background-mute: var(--vt-c-black-mute);*/

/*        --color-border: var(--vt-c-divider-dark-2);*/
/*        --color-border-hover: var(--vt-c-divider-dark-1);*/

/*        --color-heading: var(--vt-c-text-dark-1);*/
/*        --color-text: var(--vt-c-text-dark-2);*/
/*    }*/
/*}*/


:root {
    /*--color-background: #262027;*/
    /*--color-surface: #362f3a;*/
    /*--color-text: #cccccc;*/
    /*--color-text-dim: #e3e3e3;*/
    /*--color-accent: #6fed6f;*/
}


*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    font-weight: normal;
    font-size: 15px;
}



body {
    min-height: 100vh;
    color: var(--color-text);
    background: var(--color-background);
    /*transition: color 0.5s,*/
    /*background-color 0.5s;*/
    /*line-height: 1.6;*/

    font-family: "Inter", -apple-system,
        BlinkMacSystemFont,
        'Segoe UI',
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        'Fira Sans',
        'Droid Sans',
        'Helvetica Neue',
        sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    /*font-weight: 500;*/
    /* font-weight: <weight>; */
    font-style: normal;
    font-size: 15px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}